In [3]:
import pandas as pd
df=pd.read_csv(r'C:\Users\MYPC\Object_detection_project\Tensorflow\workspace\training_demo\annotations\train_labels.csv')
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,048f98b6371bae69ef0b22de85b3d2ef--hibiscus-flo...,474,632,Hibiscus,1,22,473,631
1,05cc451e34f7184f79792afa2880e52d.jpg,236,236,Hibiscus,1,8,226,236
2,05f467a7d7a3f4a3fd13faf9f9b4a266--hibiscus-flo...,350,350,Hibiscus,11,8,342,333
3,06601ff9a83cf37c2eec265ec29dd80c--hibiscus-dra...,234,215,Hibiscus,2,6,219,209
4,07fca0d0dba66a3336666d79608aab2e.jpg,427,640,Hibiscus,4,6,425,607

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
category=df['class']
sns.catplot(category,color='green')

TypeError: object of type 'NoneType' has no len()